@{
    ViewBag.Title = "信通中国-官网首页";
    ViewBag.Menu = 0;
}
@section featured {

}

@* 页面的样式表连接 *@
@section link{
<link rel="stylesheet" href="../../Content/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="../../Content/css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="../../Content/css/index.css" type="text/css">
}
@* 页面的样式表连接 *@

@* 页面的主要内容 *@

  <div class="wrapper">
    <div id="index">
      <div class="image-carousel">
        <div class="inner">
          <div id="index-carousel" class="img-list-box">
            <div class="item">
              <a href="#" class="link">
                <img src="../../Images/index_01.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="item">
              <a href="#" class="link">
                <img src="../../Images/index_01.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="item">
              <a href="#" class="link">
                <img src="../../Images/index_01.jpg" alt="" class="img-responsive"></a>
            </div>
            <div class="item">
              <a href="#" class="link">
                <img src="../../Images/index_01.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-wrapper">
        <div id="main_menu" class="main-menu">
          <div class="pure-g text-center">
            <div class="pure-u-1-2">
              <a href="../FinanceProduct/List" class="link"> <i class="icon icon-licai"></i>
                <span class="text">我要理财</span>
              </a>
            </div>
            <div class="pure-u-1-2">
              <a href="../BorrowingProduct/List" class="link"> <i class="icon icon-jiekuan"></i>
                <span class="text">我要借款</span>
              </a>
            </div>
            <div class="pure-u-1-2">
              <a href="../User/UserCenter" class="link">
                <i class="icon icon-user"></i>
                <span class="text">我的账户</span>
              </a>
            </div>
            <div class="pure-u-1-2">
              <a href="../Activity/Index" class="link">
                <i class="icon icon-gift"></i>
                <span class="text">互动有礼</span>
              </a>
            </div>
            <div class="pure-u-1-2">
              <a href="../Safe/Index" class="link">
                <i class="icon icon-safe"></i>
                <span class="text">安全保障</span>
              </a>
            </div>
            <div class="pure-u-1-2">
              <a href="../Dynamic/Index" class="link">
                <i class="icon icon-status"></i>
                <span class="text">信通动态</span>
              </a>
            </div>
            <div class="pure-u-1-2">
              <a href="../Network/Index" class="link">
                <i class="icon icon-network"></i>
                <span class="text">全国网络</span>
              </a>
            </div>
            <div class="pure-u-1-2">
              <a href="../About/Index" class="link">
                <i class="icon icon-about"></i>
                <span class="text">关于信通</span>
              </a>
            </div>
          </div>
          <hr class="zong-line"></div>
      </div>
    </div>
  </div>

@* 页面的主要内容 *@


@* 页面的脚本文件 *@
@section scripts{
<script src="../../Scripts/js/require.js" data-main="../../Scripts/js/index.js"></script>
}
@* 页面的脚本文件 *@