@{
  ViewBag.Title = "信通中国-关于信通"; @*  页面标题 *@
}
@section featured {

}
@* 页面的样式表连接 *@
@section link{
  <link rel="stylesheet" href="../../Content/css/owl.carousel.css">
  <link rel="stylesheet" href="../../Content/css/owl.theme.css">
}
@* 页面的样式表连接 *@


@* 页面的主要内容 *@
<div class="wrapper">

  <div class="about-list">
    <ul class="list">
      <li class="item">
        <a href="" class="link">
          <span class="text">集团介绍</span> 
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          <span class="text">品牌“视”角</span> 
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          <span class="text">企业荣耀</span>
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          <span class="text">发展轨迹</span>
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          <span class="text">联系我们</span>
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
    </ul>
  </div>  
  <p class="about-content-text">
    信通中国创建于2010年，总部位于北京CBD金融贸易中心，是一家集财富管理、信用风险评估与管理、信用数据整合服务、小额借款咨询服务、有限合伙、基金份额推介服务、个性化投融资方案设计服务等业务于一体的综合性现代金融服务类企业。信通中国采用先进的管理模式，通过精通金融风险评估、政策法规的资深团队专业操作，帮助几千万小微企业主、工薪阶层、学生和农民等各个阶层建立信用体制，释放信用价值，获取信用资金，并为个人和小微企业提供培训等增值服务。总部下辖信通开元、信通惠德、信通汇达、信通普诚等多家机构，总资本高达1.5亿以上。
    信通中国服务机构遍布全国多个主要城市。长期以来，信通中国将"客户利益至上"作为公司生存发展的最高法则，致力于实现客户"利益最大化、风险最低化"。
    信通中国拥有完善的管理制度，卓越的管理团队，标准的运作流程，严格的风控措施，信通中国为平台两端的客户提供信用咨询、评估、投融资方案制定、协议管理等全方位的专业化微金融与财富管理咨询服务。
  </p>
  <div class="about-img-box">
    <div class="img">
      <img src="~/Content/images/xin.jpg" alt="" class="img-responsive"></div>
    <p class="name text-center">公司形象展示</p>
  </div>

  <div class="others-products">
    <div class="box">
      <div class="p-control">
        <a id="prev" class="iconfont icon-xiangyou rotate180"></a>
        <a id="next" class="iconfont icon-xiangyou"></a>
      </div>
      <div id="others_products_list" class="p-list">
        <div class="item">
          <div class="p-item">
            <span class="about-item-name">
              企业荣耀
            </span>
          </div>
        </div>
        <div class="item">
          <div class="p-item">
            <span class="about-item-name">
              企业荣耀
            </span>
          </div>
        </div>
        <div class="item">
          <div class="p-item">
            <span class="about-item-name">
              企业荣耀
            </span>
          </div>
        </div>
        <div class="item">
          <div class="p-item">
            <span class="about-item-name">
              集团概况
            </span>
          </div>
        </div>
        <div class="item">
          <div class="p-item">
            <span class="about-item-name">
              企业介绍
            </span>
          </div>
        </div>
        <div class="item">
          <div class="p-item">
            <span class="about-item-name">品牌视角</span>
          </div>
        </div>
        <div class="item">
          <div class="p-item">
            <span class="about-item-name">
              联系我们
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@* 页面的主要内容 *@

@* 页面的脚本文件 *@
@section scripts{
<script src="../../Scripts/js/require.js" data-main="../../Scripts/js/about.js"></script>
}
@* 页面的脚本文件 *@