@{
  ViewBag.Title = "信通中国-关于信通"; @*  页面标题 *@
}
@section featured {

}
@* 页面的样式表连接 *@
@section link{

}
@* 页面的样式表连接 *@


@* 页面的主要内容 *@
<div class="wrapper">
  <div class="about-img-box">
    <div class="img">
      <img src="~/Content/images/xin.jpg" alt="" class="img-responsive"></div>
    <p class="name text-center">公司形象展示</p>
  </div>
  <div class="about-list">
    <ul class="list">
      <li class="item">
        <a href="./Details" class="link">
          <span class="text">集团介绍</span> 
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
      <li class="item">
        <a href="./Details" class="link">
          <span class="text">品牌“视”角</span> 
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
      <li class="item">
        <a href="./Details" class="link">
          <span class="text">企业荣耀</span>
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
      <li class="item">
        <a href="./Details" class="link">
          <span class="text">发展轨迹</span>
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
      <li class="item">
        <a href="./Details" class="link">
          <span class="text">联系我们</span>
          <i class="iconfont icon-xiangyou"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
@* 页面的主要内容 *@

@* 页面的脚本文件 *@
@section scripts{
<script src="../../Scripts/js/require.js" data-main="../../Scripts/js/about.js"></script>
}
@* 页面的脚本文件 *@