@{
  ViewBag.Title = "信通中国-互动有礼"; @*  页面标题 *@
}
@section featured {
}
@* 页面的样式表连接 *@
@section link{
  <link rel="stylesheet" href="../../Content/css/owl.carousel.css" type="text/css">
  <link rel="stylesheet" href="../../Content/css/owl.theme.css" type="text/css">
  <link rel="stylesheet" href="../../Content/css/index.css" type="text/css">
  }
@* 页面的样式表连接 *@


@* 页面的主要内容 *@

<div class="wrapper">
  <div class="activity-outer">
    <div class="activity-item">
    <a href="./Details" class="link">
      <img src="../../Content/images/ac01.jpg" alt="" class="img-responsive"></a>
    </div>

    <div class="activity-item">
    <a href="./Details" class="link">
      <img src="../../Content/images/ac02.jpg" alt="" class="img-responsive"></a>
    </div>
  </div>
</div>
@* 页面的主要内容 *@



@* 页面的脚本文件 *@
@section scripts{
<script src="../../Scripts/js/require.js" data-main="../../Scripts/js/index.js"></script>
}
@* 页面的脚本文件 *@