@{
  ViewBag.Title = "信通中国-信通动态"; @* 页面标题 *@
}
@section featured {
}
@* 页面的样式表连接 *@
@section link{
  <link rel="stylesheet" href="../../Content/css/dong.css" type="text/css">
  }
@* 页面的样式表连接 *@


@* 页面的主要内容 *@
<div class="wrapper">
  <div id="xin_dong_detail">
    <div class="xdd-title">互联网金融与传统银行互补是趋势</div>
    <div class="xdd-content">
      <p class="img"><img src="../images/news.png" alt="" class="img-responsive"></p>
      <p class="text">
        对于此次战略合作，汇聚融达总经理王加武先生表示，汇聚融达是专业的互联网金融机构，具有完善先进的信用审核技术、风险预测和管理技术；百练则在全国拥有强大的师资背景。两家企业战略合作的强强联手，将为全国更多的学员提供便捷、高效、低成本的入学机制，创造就业机会。王加武先生表示，汇聚融达将继续秉持“聚微服微”的理念，以其自身优势为教育行业乃至更多的行业提供优质服务！从百练来看，中国国内互联网金融平台如此之多，拥有严密完善征信系统的企业虽少但也不止一家。为何百练偏偏选中的合作对象为汇聚融达？百练总校校长王管谈先生给出了肯定的答复，与汇聚融达合作主要看中两点：
        一，汇聚融达服务网络覆盖全国几十个大中小城市，具有完善的信用数据库和信用数据评价体系。与汇聚融达达成战略合作能够打破地域局限性，实现全国范围内的业务拓展，助力企业大步腾飞。
        二，汇聚融达是国内征信系统非常完善的互联网金融企业，对于个人征信流程和档案建立都有相当丰富的经验，系统的高效创新能够避免繁琐流程，大大缩减了百练这样的企业业务拓展的时间成本。
        
        
      </p>
    </div>
  </div>
</div>
@* 页面的主要内容 *@



@* 页面的脚本文件 *@
@section scripts{
<script src="../../Scripts/js/require.js" data-main="../../Scripts/js/dong.js"></script>
}
@* 页面的脚本文件 *@