@{
  ViewBag.Title = "信通中国-信通动态"; @* 页面标题 *@
}
@section featured {
}
@* 页面的样式表连接 *@
@section link{
  <link rel="stylesheet" href="../../Content/css/dong.css" type="text/css">
  }
@* 页面的样式表连接 *@


@* 页面的主要内容 *@
<div class="wrapper">
  <div id="xin_dong">
    <div class="xin-dong-content">
      <div class="xin-dong-tabs tab-row">
        <div class="pure-g">
          <div class="pure-u-1-2"><a href="#" data-tabname="qiye" class="link active">企业动态</a></div>
          <div class="pure-u-1-2"><a href="#" data-tabname="media" class="link">媒体动态</a></div>
        </div>
      </div>
      <div class="xin-dong-content">
        <div data-tabcontent="qiye" class="xin-dong-qiye">
          <ul class="dong-info-list">
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">企业中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
          </ul>
        </div>
        <div data-tabcontent="media" class="xin-dong-media hidden">
          <ul class="dong-info-list">
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">媒体中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
            <li class="info-item"><a href="./Detail" class="link"><i class="iconfont icon-xiangyoufan"></i><span class="text">信通中国受邀即将出席2014互联网金融创新与监管行业峰会</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
@* 页面的主要内容 *@



@* 页面的脚本文件 *@
@section scripts{
<script src="../../Scripts/js/require.js" data-main="../../Scripts/js/dong.js"></script>
}
@* 页面的脚本文件 *@