@{
    ViewBag.Title = "信通中国-全国网络";
}
@section featured {

}

@* 页面的样式表连接 *@
@section link{

}

<div class="wrapper">
  <div id="xin_network_detail">
    <div class="xnd-wave"></div>
    <div class="xnd-content">
      <div class="xnd-item">
        <h3 class="xnd-title"><i class="icon icon-flower-l"></i><span class="name">北京西单事业部</span><i class="icon icon-flower-r"></i></h3>
        <p class="xnd-address">地址：北京市西单长安街46号附203</p>
        <p class="xnd-phoneNumber">电话：0335-3215081 </p>
      </div>
      <div class="xnd-item">
        <h3 class="xnd-title"><i class="icon icon-flower-l"></i><span class="name">北京西单事业部</span><i class="icon icon-flower-r"></i></h3>
        <p class="xnd-address">地址：北京市西单长安街46号附203</p>
        <p class="xnd-phoneNumber">电话：0335-3215081 </p>
      </div>
      <div class="xnd-item">
        <h3 class="xnd-title"><i class="icon icon-flower-l"></i><span class="name">北京西单事业部</span><i class="icon icon-flower-r"></i></h3>
        <p class="xnd-address">地址：北京市西单长安街46号附203</p>
        <p class="xnd-phoneNumber">电话：0335-3215081 </p>
      </div>
      <div class="xnd-item">
        <h3 class="xnd-title"><i class="icon icon-flower-l"></i><span class="name">北京西单事业部</span><i class="icon icon-flower-r"></i></h3>
        <p class="xnd-address">地址：北京市西单长安街46号附203</p>
        <p class="xnd-phoneNumber">电话：0335-3215081 </p>
      </div>
    </div>
  </div>
</div>
            
@* 页面的脚本文件 *@
@section scripts{
  <script src="../../Scripts/js/require.js" data-main="../../Scripts/js/network.js"></script>
}
@* 页面的脚本文件 *@