@{
  ViewBag.Title = "信通中国-安全保障"; @*  页面标题 *@
}
@section featured {
}
@* 页面的样式表连接 *@
@section link{
  <link rel="stylesheet" href="../../Content/css/safe.css">
}
@* 页面的样式表连接 *@


@* 页面的主要内容 *@

  <div class="wrapper">
    <div id="xin_safe">
      <div class="safe-head">安全保障</div>
      <div class="safe-content">
        <div class="bd-content-list">
          <label class="icon icon-peoples"></label>
          <div class="text">
            <h3 class="bd-content-title">资深专业精英团队 </h3>
            <p class="bd-content-text">拥有从业多年金融行业、精通金融风险评估及政策法规的资深专业精英团队，准确把控政策导向及业务操作，有效降低风险损失。</p>
          </div>
        </div>
        <div class="bd-content-list">
          <label class="icon icon-pclian"></label>
          <div class="text">
            <h3 class="bd-content-title">专业风控管理体系</h3>
            <p class="bd-content-text">对贷前审核、贷中监控和贷后跟踪管理等多重风控流程的严格把控，并引用国际领先的信用评分体系，对借款人的资质进行严格筛选，充分把控和有效降低出借风险。</p>
          </div>
        </div>
        <div class="bd-content-list">
          <label class="icon icon-zhidu"></label>
          <div class="text">
            <h3 class="bd-content-title">专用风险保障金制度</h3>
            <p class="bd-content-text">特别设立了专用的“风险保障金” 账户，针对发生逾期的借款人，由该专用账户将当期所有违约借款人的逾期本息金额先行补偿给出借人，全力保障出借人的资金安全。</p>
          </div>
        </div>
        <div class="bd-content-list">
          <label class="icon icon-fenmo"></label>
          <div class="text">
            <h3 class="bd-content-title">创新的分散出借模式</h3>
            <p class="bd-content-text">特别设立了专用的“风险保障金” 账户，针对发生逾期的借款人，由该专用账户将当期所有违约借款人的逾期本息金额先行补偿给出借人，全力保障出借人的资金安全。</p>
          </div>
        </div>
        <div class="bd-content-list">
          <label class="icon icon-dsafe"></label>
          <div class="text">
            <h3 class="bd-content-title">资金交易安全</h3>
            <p class="bd-content-text">与国内多家第三方支付服务机构紧密合作，由第三方支付服务机构对资金进行保存，平台不直接接触客户资金，不建立资金池，不触碰政策红线，100%保障客户资金安全</p>
          </div>
        </div>
      </div>
    </div>
  </div>

@* 页面的主要内容 *@



@* 页面的脚本文件 *@
@section scripts{
<script src="../../Scripts/js/require.js" data-main="../../Scripts/js/index.js"></script>
}
@* 页面的脚本文件 *@