/* index */
/* -------------------------------------------------------------

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.image-carousel, .main-menu {
  position: relative;
  left: 0;
  top: 0;
}

.image-carousel {
  padding-top: 43.75%;
  height: 0;
  overflow: hidden;
}
.image-carousel .inner {
  margin-top: -43.75%;
}
.image-carousel .owl-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.image-carousel .owl-controls .owl-page span {
  opacity: .5;
  background: #fff;
  width: 0.5rem;
  height: 0.5rem;
}
.image-carousel .owl-controls .owl-page.active span {
  opacity: 1;
  background: #fff;
}
.image-carousel .owl-pagination {
  text-align: right;
}

.main-menu {
  background-size: 100% auto;
}
.main-menu .item {
  border: none;
}
.main-menu .link {
  display: block;
  line-height: 2.2rem;
  font-size: 0.8rem;
}
.main-menu .text {
  color: #703b1b;
  font-weight: 500;
}
.main-menu .pure-u-1-2 {
  border-top: 1px solid #a89e85;
  -moz-box-shadow: inset 0 0 2px #ede4c2;
  -webkit-box-shadow: inset 0 0 2px #ede4c2;
  box-shadow: inset 0 0 2px #ede4c2;
}
.main-menu .zong-line {
  position: absolute;
  width: 1px;
  height: 100%;
  border: none;
  background: #a89e85;
  -moz-box-shadow: 0 0 3px #ede4c2;
  -webkit-box-shadow: 0 0 3px #ede4c2;
  box-shadow: 0 0 3px #ede4c2;
  top: 0;
  left: 50%;
  margin-left: -1px;
}

/*# sourceMappingURL=index.css.map */
